<div class="mb-2" style="margin-top: -3rem;">
    <a (click)="goBack()"> <i class="fa fa-arrow-left"></i> See all topics</a>
</div>

<!--Section: Post-->
<section class="mt-4">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card mb-4">
                <!--Card content-->
                <div class="card-body">
                    <p class="h6 my-4">{{topic.title}} </p>
                    <p>{{topic.description}}</p>
                    <mat-chip-list aria-label="Tag selection">
                        <mat-chip *ngFor="let tag of topic.tags">{{tag}}</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="card-footer">
                    <span class="pull-left" (click)="scrollToCommentForm()"><a class="nav-link">{{'Comments
                            ('+topic.comments?.length+')'}}</a></span>
                    <span class="pull-left" (click)="scrollToAnswerForm()"><a class="nav-link">{{'Answers
                            ('+topic.answers?.length+')'}}</a></span>
                    <span class="pull-right"> <i class="fa fa-clock-o"></i> Posted on : {{topic.postedOn| date:"dd
                        MMM"}} @ {{topic.postedOn| date:"HH:mm"}}</span>
                </div>
            </div>
            <!--/.Card-->

            <!--Answers-->
            <div class="card card-comments mb-3">
                <div class="card-header font-weight-bold">{{topic.answers?topic.answers.length : 0}} Answers</div>
                <div class="card-body">
                    <div *ngIf="topic.answers">
                        <div class="media d-block d-md-flex mb-2" *ngFor="let answer of topic.answers">
                            <img class="d-flex mb-3 mx-auto " [src]="answer.answeredBy?.photo"
                                style="width: 20px!important;" alt="Generic placeholder image">
                            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                <div class="mt-0">
                                    <a class="pull-right" (click)="onShowReplyForm(answer._id)">
                                        <i class="fas fa-reply"></i>
                                    </a>
                                    <span class="blue-text">
                                        {{ answer.answeredBy?.firstName +' '+ answer.answeredBy?.lastName}}
                                    </span>
                                    <span class="grey-text"> {{' '+answer.answeredOn| date:"dd
                                        MMM"}} {{answer.answeredOn| date:"HH:mm"}}</span>
                                    <div>
                                        {{answer.answerText}}
                                    </div>

                                </div>

                                <div *ngIf="answer.answerComments && answer.answerComments.length" class="mt-2"
                                    style="font-size: smaller;">
                                    <hr style="margin-left:10%;margin-right:10%">
                                    <div class="media d-block d-md-flex"
                                        *ngFor="let commentReply of answer.answerComments">
                                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                            <div class="mt-0">
                                                <span>
                                                    {{commentReply.commentText +' - '}}
                                                </span>
                                                <span class="blue-text">
                                                    {{ commentReply.commentedBy?.firstName +' '+
                                                    commentReply.commentedBy?.lastName}}
                                                </span>
                                                <span class="grey-text"> {{' '+commentReply.commentedOn| date:"dd
                                                    MMM"}} {{commentReply.commentedOn| date:"HH:mm"}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- Quick Reply -->
                                <div class="form-group mt-4" [id]="answer._id" *ngIf="showReplyForm === answer._id">
                                    <label for="quickReplyFormComment">Your comment</label>
                                    <textarea class="form-control" id="quickReplyFormComment" rows="2"
                                        [(ngModel)]="answerComment"></textarea>

                                    <div class="text-center">
                                        <button class="btn btn-info btn-sm"
                                            (click)="onAnswerComment(answer._id)">Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Answers-->

            <!--Comments-->
            <div class="card card-comments mb-3">
                <div class="card-header font-weight-bold">{{topic.comments?topic.comments.length : 0}} comments</div>
                <div class="card-body">
                    <div *ngIf="topic.comments">
                        <div class="media d-block d-md-flex" *ngFor="let comment of topic.comments">
                            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                <div class="mt-0">
                                    <span>
                                        {{comment.commentText +' - '}}
                                    </span>
                                    <span class="blue-text">
                                        {{ comment.commentedBy?.firstName +' '+ comment.commentedBy?.lastName}}
                                    </span>
                                    <span class="grey-text"> {{' '+comment.commentedOn| date:"dd
                                        MMM"}} {{comment.commentedOn| date:"HH:mm"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Comments-->

            <!--Reply-->
            <div class="card mb-3" id="commentForm" #commentForm>
                <div class="card-header font-weight-bold">Comment</div>
                <div class="card-body">
                    <!-- Default form reply -->
                    <!-- Comment -->
                    <div class="form-group">
                        <label for="replyFormComment">Your comment</label>
                        <textarea class="form-control" id="replyFormComment" rows="3" [(ngModel)]="comment"></textarea>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-info btn-md" (click)="onComment()" type="submit">Post</button>
                    </div>
                    <!-- Default form reply -->

                </div>
            </div>
            <!--/.Reply-->

            <!--Answer-->
            <div class="card mb-3" id="answerForm" #answerForm>
                <div class="card-header font-weight-bold">Leave an Answer</div>
                <div class="card-body">
                    <!-- Default form reply -->
                    <!-- Comment -->
                    <div class="form-group">
                        <label for="replyFormComment">Your comment</label>
                        <textarea class="form-control" id="replyFormComment" rows="3" [(ngModel)]="answer"></textarea>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-info btn-md" (click)="onAnswer()" type="submit">Post</button>
                    </div>
                    <!-- Default form reply -->

                </div>
            </div>
            <!--/.Answer-->

        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</section>
<!--Section: Post-->